<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Invoice {{ invoice.invoiceNumber }}</title>
    <!-- Use company stylesheets (consider caching them locally later) -->
    <link rel="stylesheet"
        href="https://www.serraict.com/assets/themes/bootstrap/resources/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.serraict.com/assets/themes/bootstrap/css/style.css?v=1.1">

    <style>
        table.invoice {
            width: 100%;
            border-collapse: collapse;
            margin-top: 10%;
        }

        tr.total {
            font-weight: bold;
        }

        div.address.to {
            margin-top: 10%;
        }

        div.invoice-details {
            float: right;
            text-align: right;
        }
    </style>

</head>

<h1>Factuur</h1>

<div class="invoice-details">
    <table>
        <tr>
            <th>Factuur</th>
            <td>{{ invoice.invoiceNumber }}</td>
        </tr>
        <tr>
            <th>Uw referentie</th>
            <td>{{ invoice.customerReference | default('-', true) }}</td>
        </tr>
        <tr>
            <th>Factuurdatum</th>
            <td>{{ invoice.invoiceDate }}</td>
        </tr>
        <tr>
            <th>Vervaldatum</th>
            <td>{{ invoice.dueDate }}</td>
        </tr>
    </table>
</div>

<div class="address to">
    <h3>Aan:</h3>
    <address>
        {{ invoice.customerName }}<br>
        {{ invoice.customerAddress }}<br>
        {{ invoice.customerZipcode }} {{ invoice.customerCity }}<br>
        <a href="mailto:{{ invoice.customerEmail }}">{{ invoice.customerEmail }}</a>
    </address>
</div>



<table class="invoice">
    <thead>
        <tr>
            <th>Omschrijving</th>
            <th>Aantal</th>
            <th>Prijs</th>
            <th>Totaal</th>
        </tr>
    </thead>
    <tbody>
        {% for line in invoice.invoiceLines %}
        <tr>
            <td>{{ line.name }}</td>
            <td>{{ line.quantity }}</td>
            <td>{{ line.unitPrice | currency }}</td>
            <td>{{ line.totalPrice | currency }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="3">Totaal:</td>
            <td>{{ invoice.totalAmount | currency }}</td>
        </tr>
        <tr>
            <td colspan="3">BTW ({{ '%.0f%%' | format(invoice.vatPercentage * 100) }}):</td>
            <td>{{ invoice.vat | currency }}</td>
        </tr>
        <tr class="total">
            <td colspan="3">Te betalen:</td>
            <td>{{ invoice.totalIncludingVat | currency }}</td>
        </tr>
    </tbody>
</table>

</body>

</html>