/* Padding below the footer and lighter body text */
body {
  padding-top: 50px;
  color: #333 !important;
  font-family: open-sans, 'Open Sans', sans-serif;
  font-weight: 300;
}

a {
  color: #009279;
}



/* Footer */

.footer {
  background-color: #009279;
  background: linear-gradient(135deg, #13B193, #009279);
  color: #fff;
  padding-top: 50px;
  padding-bottom: 30px;
  line-height: 22px;
  font-size: .7em;
  text-align: left;
  font-weight: 300;
  width: 100%;
}

h1,
.h1 {
  font-size: 41px;
}

h2,
.h2 {
  font-size: 34px;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 22px;
  margin-bottom: 11px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: open-sans, "Liberation Sans", Arial, sans-serif;
  font-weight: bold !important;
  line-height: 1.1;
  color: #243e73;
}


table {
  padding: 0;
}

table tr {
  border-top: 1px solid #cccccc;
  background-color: white;
  margin: 0;
  padding: 0;
}

table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

table tr th {
  font-weight: bold;
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}

table tr td {
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}

table tr th :first-child,
table tr td :first-child {
  margin-top: 0;
}

table tr th :last-child,
table tr td :last-child {
  margin-bottom: 0;
}